@page "/"
@using GoTorz.Client.Components.Customer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<CustomerSupportChat />
<p>SupportChat won't work unless user is logged in. It creates a private group based on Identity.Name, which is the users Email. </p>