@page "/support"
@using GoTorz.Client.Components.Customer


<h3>Support</h3>

<CustomerSupportChat />
<p>SupportChat won't work unless user is logged in. It creates a private group based on Identity.Name, which is the users Email. </p>


@code {

}
