@inherits LayoutComponentBase
@using GoTorz.Client.Components

<div class="layout-container">
    <NavMenu />
    
    <main class="main-content">
        <article class="">
            @Body
        </article>

    </main>
    <Footer/>
</div>
