html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 0; /* hvis du ønsker det stramt */
    margin: 0;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.9rem;
}
.main-content {
    background-color: white;
}