@using Microsoft.AspNetCore.Components.Authorization

<nav class="top-nav">
    <div class="brand">
        <img src="Images/logo-medium.png" alt="GoTorz Logo" style="height: 70px;" />
    </div>

    <ul class="nav-links">
        <li class="nav-item">
            <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/search">Destinations</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/about">About</NavLink>
        </li>

        <AuthorizeView Roles="Admin,SalesRep">
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/dashboard">
                        Admin Dashboard
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="User">
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/support" Match="NavLinkMatch.All">
                        Support Chat
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile">
                        Profile
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/login">
                        Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

