@page "/admin/dashboard"
@using GoTorz.Client.Components.Admin
@using Microsoft.AspNetCore.Components.Authorization

<h3>Admin Dashboard</h3>

<AuthorizeView Roles="Admin">
   <Authorized>
       <p>Welcome Admin! You have access to the following tools:</p>
       <p>Could have links to subdomains with tools...</p>
       <ul>
           <li><NavLink href="/admin/supportchat">Support Chat</NavLink></li>
           <li><NavLink href="/admin/analytics">Analytics (Coming Soon)</NavLink></li>
           <li><NavLink href="/admin/usermanagement">User Management (Coming Soon)</NavLink></li>
       </ul>
       <p>... or just have the tools directly on the dashboard</p>
       
       <AdminSupportChat />

   </Authorized>
   <NotAuthorized>
       <p>You are not authorized to view this page.</p>
   </NotAuthorized>
</AuthorizeView>