
footer {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.footer-left {
    margin-bottom: 10px;
}

    .footer-left b {
        display: block;
    }

.footer-nav a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

