
    <footer>
        <div class="footer-left">
            <b>GoTorz</b>
            <span style="color: gray;">info@gotorz.ae</span>
        </div>
        <div class="footer-nav">
            <a href="#">Home</a>
            <a href="#">Careers</a>
            <a href="#">Contact us</a>
            <a href="#">About GoTorz</a>
        </div>
    </footer>

