@page "/AdminDashboardChat"
@using Microsoft.AspNetCore.Authorization
@using GoTorz.Client.Components.Admin
@attribute [Authorize(Roles = "Admin,SalesRep")]



<h3>Support Chat</h3>


<AdminSupportChat />




@code {

}
