@page "/"
@using GoTorz.Client.Components
@inject NavigationManager Navigation


<HeroBanner />

<DestinationSlider />

<button class="support-button" @onclick="@(() => Navigation.NavigateTo("/support"))">Support</button>
