@page "/login"
@inject IClientAuthService AuthService
@inject NavigationManager Nav
@using GoTorz.Shared.DTOs.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<h3>Login</h3>

<p>@Message</p>

<EditForm Model="loginModel" OnValidSubmit="LoginUser">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText @bind-Value="loginModel.Email" placeholder="Email" class="form-control mb-2" />
	<InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" class="form-control mb-2" />

	<div class="d-flex gap-2">
		<button type="submit" class="btn btn-primary">Login</button>
		<button type="button" class="btn btn-secondary" @onclick="@(() => NavigateTo("/register"))">
			Register
		</button>
	</div>
</EditForm>

@code {
	private LoginDTO loginModel = new();
	private string Message;

	private async Task LoginUser()
	{
		var success = await AuthService.LoginAsync(loginModel);
		Message = success ? "Login successful" : "Login failed";

		if (success)
		{
			Nav.NavigateTo("/");
		}
	}

	private void NavigateTo(string url)
	{
		Navigation.NavigateTo(url);
	}
}
