@inject HttpClient Http
@using GoTorz.Shared.DTOs

<h4 class="mt-5">Flights</h4>

@if (loading)
{
    <p>Loading flights...</p>
}
else if (flightResult != null)
{
    <div class="row">
        <div class="col-md-6">
            <h5>Outbound Flight</h5>
            <FlightCard Outbound="@flightResult.OutboundFlight" />
        </div>
        <div class="col-md-6">
            <h5>Return Flight</h5>
            <FlightCard Outbound="@flightResult.ReturnFlight" />
        </div>
    </div>

    @if (!string.IsNullOrEmpty(flightResult.TotalPrice))
    {
        <div class="mt-3">
            <h6>Total flight Price :</h6>
            <p class="text-primary fw-bold">@flightResult.TotalPrice</p>
        </div>
    }
}
else
{
    <p>No direct flights found.</p>
}

@code {
    [Parameter] public string FromAirport { get; set; } = "";
    [Parameter] public string ToAirportId { get; set; } = "";
    [Parameter] public DateTime Departure { get; set; }
    [Parameter] public DateTime Return { get; set; }
    [Parameter] public int Adults { get; set; }
    [Parameter] public List<int> ChildrenAges { get; set; } = new();

    private FlightSearchResultDto? flightResult;
    private bool loading = true;

    protected override async Task OnParametersSetAsync()
    {
        loading = true;

        string departureDate = Departure.ToString("yyyy-MM-dd");
        string returnDate = Return.ToString("yyyy-MM-dd");
        string children = string.Join(",", ChildrenAges);

        try
        {
            var apiUrl = $"/api/flightsearch/search-flights" +
                         $"?fromId={FromAirport}&toId={ToAirportId}" +
                         $"&departureDate={departureDate}&returnDate={returnDate}" +
							$"&adults={Adults}&children={Uri.EscapeDataString(children)}"; // Uri.EscapeDataString to encode the comma-separated children ages

            flightResult = await Http.GetFromJsonAsync<FlightSearchResultDto>(apiUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Flight error: " + ex.Message);
        }

        loading = false;
    }
}